In [44]:
import pandas as pd
df = pd.read_csv("C:/Users/yoges/Downloads/hr_analytics_1000_data.csv")
print(df)
df.head(5)

     emp_id              name  department   job_role  gender  age   join_date  \
0         1       Blake Greer   Marketing    Analyst    Male   60  2017-09-01
1         2        John Eaton  Operations   Engineer    Male   40  2021-04-28
2         3   Cheryl Robinson   Marketing    Manager  Female   52  2020-06-04
3         4  Annette Robinson          IT  Associate    Male   56  2025-02-19
4         5    Julia Robinson       Sales  Executive  Female   29  2018-07-16
..      ...               ...         ...        ...     ...  ...         ...
995     996   Kelly Patterson          IT  Executive    Male   22  2018-04-15
996     997     Raymond White          HR    Analyst    Male   24  2025-05-16
997     998     Anthony Olson     Finance   Engineer  Female   23  2021-10-22
998     999     Sandy Montoya   Marketing  Associate  Female   39  2020-03-18
999    1000  William Erickson   Marketing  Executive    Male   55  2019-02-05

     salary  avg_working_hours  leaves_taken  performance_rating  \
0     69541                8.1             6                   1
1     30611                7.2             0                   5
2     50661                8.1             0                   4
3     87429                7.1            29                   5
4     75147               10.1             0                   5
..      ...                ...           ...                 ...
995   55006                6.4            22                   3
996  141465                9.9            22                   1
997   35357               10.3            11                   5
998   72295                7.9            23                   4
999   90350                8.5            27                   2

     last_promotion_year   exit_date         exit_reason
0                    NaN         NaN  Better Opportunity
1                    NaN         NaN                 NaN
2                 2024.0  2025-07-04  Better Opportunity
3                    NaN         NaN            Personal
4                    NaN         NaN                 NaN
..                   ...         ...                 ...
995               2017.0  2024-04-02            Personal
996               2024.0         NaN              Layoff
997                  NaN  2025-10-08                 NaN
998               2021.0         NaN            Personal
999               2019.0         NaN            Personal

[1000 rows x 14 columns]

,emp_id,name,department,job_role,gender,age,join_date,salary,avg_working_hours,leaves_taken,performance_rating,last_promotion_year,exit_date,exit_reason
0,1,Blake Greer,Marketing,Analyst,Male,60,2017-09-01,69541,8.1,6,1,NaN,NaN,Better Opportunity
1,2,John Eaton,Operations,Engineer,Male,40,2021-04-28,30611,7.2,0,5,NaN,NaN,NaN
2,3,Cheryl Robinson,Marketing,Manager,Female,52,2020-06-04,50661,8.1,0,4,2024.0,2025-07-04,Better Opportunity
3,4,Annette Robinson,IT,Associate,Male,56,2025-02-19,87429,7.1,29,5,NaN,NaN,Personal
4,5,Julia Robinson,Sales,Executive,Female,29,2018-07-16,75147,10.1,0,5,NaN,NaN,NaN

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   emp_id               1000 non-null   int64
 1   name                 1000 non-null   object
 2   department           1000 non-null   object
 3   job_role             1000 non-null   object
 4   gender               1000 non-null   object
 5   age                  1000 non-null   int64
 6   join_date            1000 non-null   object
 7   salary               1000 non-null   int64
 8   avg_working_hours    1000 non-null   float64
 9   leaves_taken         1000 non-null   int64
 10  performance_rating   1000 non-null   int64
 11  last_promotion_year  488 non-null    float64
 12  exit_date            474 non-null    object
 13  exit_reason          798 non-null    object
dtypes: float64(2), int64(5), object(7)
memory usage: 109.5+ KB

In [46]:
df["join_date"] = pd.to_datetime(df["join_date"], errors = "coerce")
df["exit_date"] = pd.to_datetime(df["exit_date"], errors = "coerce")

In [47]:
df["last_promotion_date"] = df["last_promotion_date"].fillna(0).astype(int)
df["exit_reason"] = df["exit_reason"].fillna('Active')

KeyError: 'last_promotion_date'

In [ ]:
#Add new column (feature engineering)
# // 365  Days to years convert

In [48]:
df["experience_years"] = ((pd.Timestamp("today") - df["join_date"]).dt.days // 365)

In [49]:
#Attrition flag for every employees
# 0 -> Active employee
#1  -> Attrited Employee

In [50]:
import numpy as np
df["is_attrited"] = np.where(df["exit_date"].isna(), 0, 1)

In [51]:
df = df[(df["age"] >= 18) & (df["age"]) <= 65]
df = df[df["salary"] > 0]

In [52]:
df.drop_duplicates(subset = "emp_id", inplace = True)

In [53]:
df["avg_working_hours"] = df["avg_working_hours"].clip(lower=6, upper = 12)

In [54]:
df_clean = df.copy()
df_clean.head()

,emp_id,name,department,job_role,gender,age,join_date,salary,avg_working_hours,leaves_taken,performance_rating,last_promotion_year,exit_date,exit_reason,experience_years,is_attrited
0,1,Blake Greer,Marketing,Analyst,Male,60,2017-09-01,69541,8.1,6,1,NaN,NaT,Better Opportunity,8,0
1,2,John Eaton,Operations,Engineer,Male,40,2021-04-28,30611,7.2,0,5,NaN,NaT,NaN,4,0
2,3,Cheryl Robinson,Marketing,Manager,Female,52,2020-06-04,50661,8.1,0,4,2024.0,2025-07-04,Better Opportunity,5,1
3,4,Annette Robinson,IT,Associate,Male,56,2025-02-19,87429,7.1,29,5,NaN,NaT,Personal,0,0
4,5,Julia Robinson,Sales,Executive,Female,29,2018-07-16,75147,10.1,0,5,NaN,NaT,NaN,7,0

In [ ]:
#Overworked But Underload

In [19]:
overworked = df_clean[
    (df_clean["avg_working_hours"] > 9.5) &
    (df_clean["salary"] < df_clean["salary"].median())
]

In [20]:
#Identified early-career employees at high attrition risks

early_warning = df_clean[
    (df_clean["avg_working_hours"] > 9) &
    (df_clean["performance_rating"] <= 2)
]

In [21]:
df_clean.to_csv("hr_analytics_cleaned.csv", index = False)

In [39]:
import os
print(os.getcwd())

C:\Users\yoges\PycharmProjects\PythonProject

In [40]:
df_clean.to_csv("hr_analytics_cleaned.csv", index=False)

In [41]:
from sqlalchemy import create_engine
from urllib.parse import quote_plus

password = quote_plus("Yogesh@7355")

engine = create_engine(
    f"mysql+mysqlconnector://root:{password}@localhost:3306/hr_analytics"
)

In [42]:
df_clean.to_sql(
    name="employees_cleaned",   # table name
    con=engine,
    if_exists="replace",        # replace / append
    index=False,
    chunksize=1000
)

1000